<form role="form" class="form-horizontal">
  <h2 class="form-login-heading">Customers</h2>

  <div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" placeholder="email" data-ng-model="searchData.email" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="firstname" data-ng-model="searchData.firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Last Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="lastname" data-ng-model="searchData.lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Date of Birth</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" placeholder="dateofbirth" data-ng-model="searchData.dateOfBirth">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Ip Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="ipadress" data-ng-model="searchData.ipaddress">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Roles</label>
        <select id="example-getting-started" data-ng-model="searchData.roles" multiple="multiple">
          <option ng-repeat="x in roles" value="{{x.Id}}">{{x.Name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="form-group">
    <label class="col-sm-5 control-label"></label>
    <div class="col-sm-3">
      <button class="btn btn-md btn-info btn-block glyphicon glyphicon-search" type="submit" data-ng-click="search()">Search</button>
    </div>
  </div>

  <div class="form-group">
    <div data-ng-hide="message == ''" class="alert alert-danger col-sm-12">
      {{message}}
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Full Name</th>
      <th>Customer Roles</th>
      <th>Active</th>
      <th>Created On</th>
      <th>Last activity</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="customer in customers">
      <td>
        {{ product.Id }}
      </td>
      <td>
        {{ customer.Email }}
      </td>
      <td>
        {{ customer.Firstname + " " + customer.LastName }}
      </td>
      <td>
        {{ customer.Roles}}
      </td>
      <td>
        {{ customer.CreatedOn | date : format : short}}
      </td>
      <td>
        {{ customer.LastActivity| date : format : short}}
      </td>

      <td>
        <a href="#/edit-customer/ {{customer.Id }}">Edit</a>
      </td>

    </tr>
    </tbody>
  </table>

</form>
<!-- Initialize the plugin: -->
<script type="text/javascript">
  $(document)
    .ready(function() {
      $('#example-getting-started').multiselect();
    });
</script>
